<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <a href="/home" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
    </a>
    <a class="sidebar-toggler flex-shrink-0">
        <i class="fa-solid fa-sliders"></i>
    </a>
    <form class="d-none d-md-flex ms-4">
        <input class="form-control border-0" type="search" placeholder="Search">
    </form>
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item">
            <a target="_blank" asp-action="Index" asp-controller="Home" asp-area=""><i class="fa-solid fa-globe"></i>
                Web</a>
        </div>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <img class="rounded-circle me-lg-2" src="~/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <span class="d-none d-lg-inline-flex">
                    @User.Identity.Name
                </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <li><a class="dropdown-item" href="#">Link 1</a></li>
                <li><a class="dropdown-item" href="#">Link 2</a></li>
                <li>
                    <a asp-action="Logout" asp-area="" asp-controller="Account" class="dropdown-item text-danger">
                        <i class="fa-solid fa-right-from-bracket me-2"></i>
                        Logout
                    </a>

                </li>
            </ul>
        </div>
    </div>
</nav>